$pri-color-blue: #80bfff;
$sup-color-blue: #001f3f;
$pri-color-orange: #663000;
$sup-color-orange: #FF851B;
$font: 'Fredoka One', cursive;

body {
  background: $sup-color-blue;
  color: $pri-color-blue;
  text-align: center;
  font-family: $font;
}

h1 {
  font-family: $font;
  font-size: 220px;
  color: $sup-color-orange;
}

p {
  font-size: 6em;
}

br {
  line-height: 1px;
}

input {
  width: 80%;
  height: 100px;
  border: none;
  background-color: $sup-color-blue;
  font-family: $font;
  color: white;
  font-size: 5.5em;
  text-align: center;
  border-bottom: 5px solid white;
}

.go-button {
  width: 300px;
  height: 300px;
  margin-top: 1.5em;
  background-color: $sup-color-orange;
  border-radius: 50%;
  font-family: $font;
  font-size: 7em;
  color: white;
  border: none;
}
