/* https://github.com/jamesgpearce/compios5 */

#compass {
    background-image:-webkit-radial-gradient(30% 30%, #FFEE72, #666900);
    margin:auto;
    border-radius:130px;
    width:240px;
    height:240px;
    display:block;
}
@media (orientation:landscape) {
    #compass {
        margin-top:20px;
    }
}
@media (orientation:portrait) {
    #compass {
        margin-top:80px;
    }
}
#spinner {
    background-image:-webkit-radial-gradient(30% 30%, #FFF6F4, #D1C790);
    box-shadow:0 0 4px #444 inset;
    position:relative;
    top:20px;
    left:20px;
    border-radius:100px;
    width:200px;
    height:200px;
    -webkit-transition: all 0.2s ease-in-out;
}
#pin {
    background-image:-webkit-radial-gradient(30% 30%, #FFEE72, #666900);
    box-shadow:0 0 4px #444;
    position:relative;
    top:90px;
    left:90px;
    border-radius:10px;
    width:20px;
    height:20px;
}
.degree, .point, .arrow {
    position:absolute;
    left:80px;
    width:40px;
    text-align:center;
    top:5px;
    -webkit-transform-origin:20px 95px;
}
.degree {
    color:#222;
}
.point {
    top:45px;
    -webkit-transform-origin:20px 55px;
    font-size:10px;
}
.point.main {
    font-weight:bold;
    font-size:larger;
}
.arrow {
    left:95px;
    top:35px;
    -webkit-transform-origin:5px 65px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #777;
}
.arrow.main {
    border-bottom: 10px solid #444;
}